.THIS #totalCasos .slds-panel__body{

	font-size: 100px;
	margin: auto;
	text-align: center;
	color: red;

}

@media screen and (max-width: 1919px) {
	
	.THIS tbody{

		font-size: 11px;
	}

	.THIS .slds-text-title_caps {

		font-size: 10px;
	}
}

@media screen and (min-width: 1920px) {
	
	.THIS tbody{

		font-size: 14px;
	}

	.THIS .slds-text-title_caps {

		font-size: 13px;
	}
}

.THIS .slds-panel__header-title{

	font-size: 14px;
	font-weight: bold;

}
.THIS #numSolicitudes .slds-panel__body{

	font-size: 15px;
	font-weight: bold;
	padding-top: 0;

}

.THIS #numSolicitudes .slds-panel__body span{

	font-size: 45px;
	color: red;

}

.THIS #totalToday .slds-panel__body{

	font-size: 15px;
	font-weight: bold;
	padding-top: 0;

}
.THIS #totalToday .slds-panel__body span{

	font-size: 45px;
	color: blue;

}
.THIS #solicitudDia .slds-panel__body{

	font-size: 15px;
	font-weight: bold;
	padding-top: 0;

}
.THIS #solicitudDia .slds-panel__body span{

	font-size: 45px;
	color: blue;

}
.THIS #tiempoPromedio .slds-panel__body{

	font-size: 50px;
	margin: auto;
	text-align: center;
	color: blue;

}