.THIS.main {
    background-color: white;
    box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.75);
    width: 100%;
    padding-top: 15px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 30px;
}
.THIS .section {
    margin: 1em;
    background-color: skyblue;
    color: white;
}
.THIS .logos{
    text-align: center;
    padding-top: 15px;
    
}
.THIS .title{
    margin: 1em;
    text-align: center;
    background-color: #161D3C;
    color :white;
}
.THIS .subtitle{
    margin: 35px;
    text-align: center;
    background-color: #E9EBEC;
    color: #161D3C;
    border-radius: 25px; 
}

.THIS .titleDown{
    padding-top: 35px;
    margin: 1em;
    text-align: center;
    color : #161D3C;
}
.THIS .content-img{
    margin: 1em;
    padding-top: 10px;
    width: 120px;
}

.THIS .txt-logos{
    margin: 1em;
    padding-top: 10px;
    text-align: left;
    color : #161D3C;
}

.THIS .footer{
    padding-top: 15px;
    color: black;
}
.THIS .titlefooter{
    padding-top: 25px;
}

/* ---for standard icon 3--- */
.THIS .blackOnRed svg{
   fill:#440A10 !important;
}

.THIS .ancho33 {
    width: 33.33%;
}