.THIS .slds-custom-brand {

	background-color: #0070d2 !important;
	border-color: #0070d2 !important;
	color: #fff !important;

}
.THIS .slds-popover{
	position: absolute;
}
.THIS .slds-custom-success {

	background-color: #04844b;
	color: #fff;

}

.THIS .slds-custom-destructive {

	background-color: #a61a14 !important;
	color: #fff;

}

.THIS .custom-button {
	position: relative;
	display: inline-block;
	-webkit-appearance: none;
	white-space: normal;
	user-select: none;
	background: border-box transparent;
	border-width: 1px;
	border-style: solid;
	border-image: initial;
	border-radius: 0.25rem;
	text-decoration: none;
    color: #fff;
	padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    vertical-align: middle;
    transition: border 0.15s linear 0s;
    font-size: 10px;

}

.THIS .data-row:hover {
	background-color:#f3f2f2;
	color:white;
	cursor:pointer;
   }
.THIS .data-row.selectedRow{
	background-color:#ecebea;
    color:white;
}
.THIS .selectedRow{
    background-color:#ecebea;
    color:white;
}

.THIS .slds-modal__container2{
    max-width: 25rem !important;
    width:80% !important;
}

.THIS .slds-modal__containerPDFEdoCta {
	max-height: 75rem !important;
	height: 80% !important;
}
.THIS.exampleHolder{
    position: relative;
    display: inline-block;
    width: 80px;
    height: 80px;
}